body {
    padding: 0;
    margin: 0;
    
    background-color: #333333; 
    color: #ffffff;
    font-size: xx-small;
}





styledimg {
background-image: url(/scaled_2x.png);
background-repeat: no-repeat;
width: 50%;
height: 50%;
}


    @import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
    }
    

