body {
    padding: 0;
    margin: 0;
    
    
    background-color: #000000; 
    color: #ffffff;
    font-size: 10;
    font-weight: lighter; 
}

div.margin { margin: 100px; }

img:hover {
  img: invert;
}

div.styledimg {
background-image: url(AIS_09-50_.png);
background-repeat: no-repeat;
width: 1236px;
height: 1200px;
}


div.imagebox {
  width: 50%;
  height: 50%;
 
  border: none;
}


    @import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
    }
    
	
div.githublogo {
  width: 60px;
  height: 60px;
 
  border: none;
}

H1 {
  font-size: 40px;
  font-weight: 700;
}

H3 {
  font-size: 20px;
  font-weight: 200;
}

H6 {
  font-size: 10px;
  font-weight: 100;
}