body {
    padding: 0;
    margin: 0;
    
    
    background-color: #000000; 
    color: #ffffff;
    font-size: 16;
    font-weight: lighter; 
}





div.styledimg {
background-image: url(AIS_09-50_.png);
background-repeat: no-repeat;
width: 1236px;
height: 1200px;
}


div.imagebox {
  width: 50%;
  height: 50%;
 
  border: none;
}


    @import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
    }
    
p {
  
  font-size: 10px;
}

H1 {
  font-size: 40;
  font-weight: bold;  
}


