    @import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
    @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
    }





body {
    padding: 0;
    margin: 0;
    background-color: #000000; 
    color: #ffffff;
	
	font-family: "Inter", Arial, sans-serif;
 
   
}

div.margin { margin: 100px; }

div.marginb { margin: 200px; }

div.narrow {
	width: 50%;
	text-align: left;
}


div.styledimg {
background-image: url(AIS_09-50_.png);
background-repeat: no-repeat;
width: 1236px;
height: 1200px;
}


div.imagebox {
  width: 50%;
  height: 50%;
 
  border: none;
}



    
	
div.githublogo {
  width: 60px;
  height: 60px;
 
  border: none;
}

H1 {
  font-size: 100px;
  font-weight: 500;
}

H3 {
  font-size: 20px;
  font-weight: 400;
}

H6 {
  font-size: 10px;
  font-weight: 300;
}









body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Inter', sans-serif; 
	}

nav ul{
    display: flex; /*to create a different layout for different screen sizes/devices*/
    align-items: center; /*all ul items in center*/
    list-style-type: none; /*remove the bullet points of ul*/
    height: 60px; /*image size*/
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px; /*padding-top/bottom=0 padding-left/right=12*/
}



.container{
    display: flex;
    position: relative;
    margin: 200px auto 0;
    width: 50%;
    margin: 27px auto; /*auto to bring it in center*/
    padding: 30px;
    min-height: 10vh; /*1vh	is Relative to 1% of the height of the viewport*/


}

.container:before,
.container:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
  
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

.container:after{
    filter: blur(15px);
}

@keyframes animate{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 500% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}

.bottom{
    
    height: 25vh;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center; /*Aligns the flexible container's items when the items do not use all available space horizontally.*/
    align-items: center;
    flex-direction: column; /*The flexible items are displayed vertically, as a column*/
}

.icons{
    margin-top: 14px;
    cursor: pointer; /*The cursor changes to the hand cursor*/
}

#myProgressBar{
    width: 50vw; /*1vw is Relative to 1% of the width of the viewport*/
    cursor: pointer;
}

.songItem{
    height: 10vh;
    display: flex;
    background-color: white;
    width: 60%;
    color: black;
    margin: 12px 23px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.songItem img{
    width: 10vh;
    border-radius: 34px;
    margin-right: 23px;
}

.songItemContainer{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
   opacity: 0;
   transition: opacity 0.4s ease-in;
}

.songListPlay i{
    margin: 0 10px;
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    .songItem{
        width: 46vw;
    }
    
    .container{
        width: 50vw;
        padding: 10px;
    }

    .bottom{
        height: 15vh;
        background-color: rgba(0, 0, 0, 0.527);
    }
}

@media screen and (max-width: 300px) {
    .songItem{
        width: 85vw;
        margin: 12px -20px;
    }
    
    .container{
        padding: 35px;
    }
}
